@tailwind base;
@tailwind components;
@tailwind utilities;

.home-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
  }

 